/**
 * Created by Administrator on 2018-3-10.
 */
html, body {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-dev {
    display: flex;
}